.classpath
.project
.settings
.idea
/bin/
/target/
/build-mac-jar.xml
/package/bundles
/package/CSView.html
/package/CSView.jnlp
/package/csview_lib
/build/
Thumbs.db
*.jar
package/CSView.app
/testOutput
